{% block cases %}
  <div class="container">
    <h1 class="light">{{section.acf_block_title}}</h1>
    {{section.acf_block_content}}
    {% if cases %}
      <div class="cases__row row">
        {% for case in cases %}
          <article class="{{case.post_title|sanitize}} cases__case touch_effect col-xs-12 col-sm-4">
            <a class="touch_effect" href="{{case.link|relative}}" title="{{case.post_title}}">
              <div class="case__image">
                <div class="stretch loading">
                  <i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
                {% if case.acf_case_image %}
                  {% set image = TimberImage(case.acf_case_image).src %}
                  {{ function('create_resp_picture', loop.index, ['stretch'], true, [ 
                    [image|resize(360, 270), image|resize(720, 540), 768], 
                    [image|resize(738, 553), image|resize(1476, 1107)] ], image|resize(360, 270), TimberImage(case.acf_case_image).alt) }}
                {% endif %}  
              </div>
            </a>  
            <div class="case__info">
              <div class="entry-content">
                <h4><a href="{{case.link|relative}}" title="{{case.post_title}}">{{case.post_title}}</a></h4>
                {% if case.get_field('acf_case_solutions') %}
                  {% set solutions = fn('get_case_solutions', case.get_field('acf_case_solutions')) %}
                  <div class="solutions">{{ __('In', 'soluforce') }}: 
                    {% for solution in solutions %}
                      <a href="{{solution.get_link}}" title="{{solution.post_title}}">{{solution.post_name}}</a>
                    {% endfor %}  
                  </div>
                {% endif %}  
              </div>
            </div>           
          </article>
        {% endfor %}
      </div>  
    {% endif %}
  </div>  
{% endblock %}