{% block cases %}
  <div class="container">
    <h1 class="light">{{section.acf_block_title}}</h1>
    {{section.acf_block_content}}
    {% if cases %}
      <div class="cases__row row">
        {% for case in cases %}
          <article class="{{case.post_title|sanitize}} cases__case col-xs-12 col-sm-4">
            <a href="{{case.link|relative}}" title="{{case.post_title}}">
              <div class="case__image">
                <div class="stretch loading">
                  <i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
                {% if case.acf_case_image %}
                  {% set image = TimberImage(case.acf_case_image).src %}
                  {{ function('create_resp_picture', loop.index, ['stretch'], true, [ 
                    [image|resize(360, 270), image|resize(720, 540), 768], 
                    [image|resize(738, 553), image|resize(1476, 1107)] ], image|resize(360, 270), TimberImage(case.acf_case_image).alt) }}
                {% endif %}  
              </div>
              <div class="case__info">
                <div class="entry-content">
                  <h4>{{case.post_title}}</h4>
                  {% if case.solutions %}
                    <div class="solutions">{{ __('In', 'soluforce') }}: {{case.solutions|join(', ')}}</div>
                  {% endif %}  
                </div>
              </div>
            </a>  
          </article>
        {% endfor %}
      </div>  
    {% endif %}
  </div>  
{% endblock %}