{% block header_image %}
<div class="header_image">
  <div class="stretch loading">
    <div class="container">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>  
  </div>
  {% set image = TimberImage(header_img) %}
  {% set image_sizes = [] %}    
  {% for size in grid_sizes[0] %}
    {% set image_sizes = image_sizes|merge(
      [{ src1x:       image.src|resize(size[1], size[2], size[3]), 
         src2x:       image.src|resize((size[1] * 2), (size[2] * 2), size[3]), 
         breakpoint:  size[4] 
      }]
    ) %}
  {% endfor %}
  {% set fallback = image.src|resize(grid_sizes[1], grid_sizes[2], grid_sizes[3]) %}
  {{ function('create_resp_picture', 1, ['stretch'], true, image_sizes, fallback, image.alt) }}
  
  {% if header_title %}
    <div class="case__info">
      <div class="entry-content container">
        <h1>{{post.title}}</h1>
        {% if post.get_field('acf_case_solutions') %}
          {% set solutions = fn('get_case_solutions', post.get_field('acf_case_solutions')) %}
          <div class="solutions">{{ __('In', 'soluforce') }}: 
            {% for solution in solutions %}
              <a href="{{solution.get_link}}" title="{{solution.post_title}}">{{solution.post_name}}</a>
            {% endfor %}  
          </div>
        {% endif %}  
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}