<article class="{{benefit.post_title | sanitize}} benefits__benefit touch_effect {% for size in grid_sizes[0] %} {{ size[0] }} {% endfor %}">
  <div class="benefit__icon">
    <div class="stretch loading">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    {% if benefit.acf_benefit_illustration %}
      <img class="stretch" src="{{TimberImage(benefit.acf_benefit_illustration).src}}" alt="{{TimberImage(benefit.acf_benefit_illustration).alt}}" />
    {% endif %}  
  </div>
  <div class="benefit__info">
    <div class="entry-content">
      <h5><span class="index">{{loop.index}}.</span> {{benefit.post_title}}</h5>
      <div class="desc">{{benefit.post_content | wpautop}}</div>
    </div>
  </div>
</article>