{% set solutions = fn('get_product_solutions', product.ID) %}

<article class="{{product.title | sanitize}} products__{{product.post_type}} {% for size in grid_sizes[0] %} {{ size[0] }} {% endfor %}{% for solution in solutions %} {{ solution.slug }} {% endfor %}">
  <div class="product__container touch_effect under">
    {% if product.acf_product_image %}
      {% set image = TimberImage(product.acf_product_image) %}
      {% set ratio = (image.sizes.medium.height/image.sizes.medium.width * 100) %}
      {% set image_sizes = [] %}    
      {% for size in grid_sizes[0] %}
        {% set image_sizes = image_sizes|merge(
          [{ src1x:       image.src|resize(size[1], size[2], size[3]), 
             src2x:       image.src|resize((size[1] * 2), (size[2] * 2), size[3]), 
             breakpoint:  size[4] 
          }]
        ) %}
      {% endfor %}
      {% set fallback = image.src|resize(grid_sizes[1], grid_sizes[2], grid_sizes[3]) %}
      <div class="product__image" style="padding-bottom:{{ratio}}%;">
        <div class="stretch loading">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        {{ function('create_resp_picture', 1, ['stretch'], true, image_sizes, fallback, image.alt) }}  
      </div>
    {% endif %}    
    <div class="product__overlay">
      <div class="product__overlay__content">
        <h5 class="light {{product.terms[0].slug}}">{{product.title}}</h5>
        <div class="desc hidden">{{product.get_preview(20, false, '')}}</div>
      </div>
    </div>
  </div>
</article>