<article class="{{case.post_title|sanitize}} cases__case {% for size in grid_sizes[0] %} {{ size[0] }} {% endfor %}">
  <div class="case__container touch_effect">
    <a href="{{case.link|relative}}" title="{{case.post_title}}">
      <div class="case__image">
        <div class="stretch loading">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        {% if case.acf_case_image %}
          {% set image = TimberImage(case.acf_case_image) %}
          {% set image_sizes = [] %}    
          {% for size in grid_sizes[0] %}
            {% set image_sizes = image_sizes|merge(
              [{ src1x:       image.src|resize(size[1], size[2], size[3]), 
                 src2x:       image.src|resize((size[1] * 2), (size[2] * 2), size[3]), 
                 breakpoint:  size[4] 
              }]
            ) %}
          {% endfor %}
          {% set fallback = image.src|resize(grid_sizes[1], grid_sizes[2], grid_sizes[3]) %}
          {{ function('create_resp_picture', loop.index, ['stretch'], true, image_sizes, fallback, image.alt) }}
        {% endif %}
      </div>
    </a>  
    <div class="case__overlay">
      <div class="case__overlay__content">
        <h4><a href="{{case.link|relative}}" title="{{case.post_title}}">{{case.post_title}}</a></h4>
        {% if case.get_field('acf_case_solutions') %}
          {% set solutions = fn('get_case_solutions', case.get_field('acf_case_solutions')) %}
          <div class="case__overlay__content__links">{{ __('In', 'soluforce') }}: 
            {% for solution in solutions %}
              <a href="{{solution.get_link}}" title="{{solution.post_title}}">{{solution.post_name}}</a>
            {% endfor %}  
          </div>
        {% endif %}  
      </div>
    </div>
  </div>      
</article>