<article class="{{solution.post_title|sanitize}} solutions__solution {% for size in grid_sizes[0] %} {{ size[0] }} {% endfor %}">
  <div class="solution__container touch_effect">
    <a href="{{solution.link|relative}}" title="{{solution.title}}">
      <div class="solution__image">
        <div class="stretch loading">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        {% if solution.acf_solution_image %}
          {% set image = TimberImage(solution.acf_solution_image) %}
          {% set image_sizes = [] %}    
          {% for size in grid_sizes[0] %}
            {% set image_sizes = image_sizes|merge(
              [{ src1x:       image.src|resize(size[1], size[2], size[3]), 
                 src2x:       image.src|resize((size[1] * 2), (size[2] * 2), size[3]), 
                 breakpoint:  size[4] 
              }]
            ) %}
          {% endfor %}
          {% set fallback = image.src|resize(grid_sizes[1], grid_sizes[2], grid_sizes[3]) %}
          {{ function('create_resp_picture', loop.index, ['stretch'], true, image_sizes, fallback, image.alt) }}
        {% endif %} 
      </div>
    </a>
    <div class="solution__overlay">
      <div class="solution__overlay__content">
        <h2><a href="{{solution.link|relative}}" title="{{solution.title}}">{{solution.post_name}}</a></h2> 
      </div>
    </div>
  </div>
  <div class="entry-content">{{solution.get_preview(40, false, 'Read More <i class="fa fa-angle-right"></i>')}}</div>
</article>