<div class="sidebar__social__links">
  <h2>{{ __('Follow us', 'soluforce') }}</h2>
  <ul class="nav navbar-nav">
    {% for social in options.social_media %}
      <li class="{{social.social_media_name | sanitize}}"><a href="{{social.social_media_url}}" title="{{social.social_media_name}}" target="_blank"><i class="fa fa-{{social.social_media_icon}}"></i></a></li>
    {% endfor %}
  </ul>
</div>