{% extends "base.twig" %}

{% block main %}
  <section class="page row">
    <div class="entry-content col-xs-12 no-sidebar">
      {% block content %}
        <h1>{{post.title}}</h1>
        <div class="columns">{{post.content}}</div>
      {% endblock %}
    </div>
  </section>
  {% if solutions %}
    <section class="solutions row">
      {% block solutions %}
        {% for solution in solutions %}
          <article class="{{solution.post_title | sanitize}} solutions__solution touch_effect col-xs-12 col-sm-6">
            <div class="solution__container">
              <a href="{{solution.link|relative}}" title="{{solution.title}}">
                <div class="solution__image">
                  <div class="stretch loading">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                  </div>
                  {% if solution.acf_solution_image %}
                    {% set image = TimberImage(solution.acf_solution_image).src %}
                    {{ function('create_resp_picture', loop.index, ['stretch'], true, [ 
                      [image|resize(555, 416), image|resize(1110, 832), 768], 
                      [image|resize(738, 553), image|resize(1476, 1107)] ], image|resize(555, 416), TimberImage(solution.acf_solution_image).alt) }}
                  {% endif %}  
                </div>
              </a>
              <div class="solution__info">
                <div class="entry-title">
                  <h2><a href="{{solution.link|relative}}" title="{{solution.title}}">{{solution.title}}</a></h2> 
                </div>
              </div>
            </div>
            <div class="entry-content">{{solution.get_preview(40, false, 'Read More <i class="fa fa-angle-right"></i>')}}</div>
          </article>  
        {% endfor %}
      {% endblock %}
    </section>
  {% endif %}  
{% endblock %}